{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": ["plugin:vue/essential"],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": "latest",
        "parser": "@typescript-eslint/parser",
        "sourceType": "module"
    },
    "plugins": ["vue", "@typescript-eslint"],
    "globals": {
        "_": true,
        "$": true
    },
    "rules": {
        "vue/no-multiple-template-root": "off",
        "arrow-body-style": "off",
        "prefer-arrow-callback": "error",
        "curly": ["error", "all"],
        "indent": [
            "error",
            2
        ],
        "linebreak-style":"off",
        "quotes": [
            "error",
            "single"
        ],
        "space-before-blocks": "off",
        "func-name-matching": "warn"
    }
}
